<div [style.display]="'flex'">
  <a mat-button routerLink="..">< back</a>
  <a mat-button routerLink="../emp002">next</a>
  @if (isLoading()) {
    <mat-spinner [diameter]="24"></mat-spinner>
  }
</div>

@if (employeeDetails(); as details) {
  <app-page-header>
    <h2>{{ details.name }}</h2>
    @if (details.status === statuses.ACTIVE) {
      <button mat-flat-button [disabled]="isLoading()" (click)="offBoardHandler()">Offboard</button>
    } @else {
      <span>DONE</span>
    }
  </app-page-header>

  <h4 class="employee-details__part-header">Employee Details</h4>

  <app-details [employee]="details"/>

  <h4 class="employee-details__part-header">Equipments</h4>

  <app-equipments-list [equipments]="details.equipments"/>

} @else {
  <p>Loading...</p>
}
