:host {
  display: grid;
  grid-template-columns: auto auto;

  & > div {
    padding-bottom: 12px;

    span:first-child {
      color: grey;
      padding-right: 12px;
      font-weight: 300;
    }

    span:last-child {
      font-weight: 500;
    }
  }
}
